.userImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}
.flexCollumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.userInfo {
    display: flex;
    border: 5px solid grey;
    justify-content: space-around;
    width: 600px;
}
.followButton {
    background-color: rgb(0, 204, 0);
    color: wheat;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}
.active {
    color: thistle;
}
.main {
    background-color: yellowGreen;
    display: flex;
    flex-direction: column;
}
.pageButtonsBlock {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.pageButton {
    cursor: pointer;
}
