.main {
    width: 100%;
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: 4fr 10fr;
    padding: 20px;
}
.active {
    color: white;
    text-decoration: none;
}

.dialogLink {
    text-decoration: none;
    color: gold;
}
.messages {
}
.message {
}
